.site-nav,
.contact-nav, .benefits {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-logo, .site-nav .link, .link {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-mobclose {
  display: none;
}

.menu-button.is-open .icon-mobclose {
  display: block;
}

.menu-button.is-open .icon-burger {
  display: none;
}

.menu-button:hover .menu-icon,
.menu-button:focus .menu-icon {
  fill: #2196f3;
}

.button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: transparent;
}

.main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-two {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.site-nav,
.contact-nav {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .site-nav,
  .contact-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .main-nav {
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    max-height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu-container {
  background-color: #fff;
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .menu-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav {
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav {
    margin-left: 81px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 85px;
  }
}

.site-nav .link {
  position: relative;
  display: inline-block;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav:hover, .site-nav:focus {
  color: #2196f3;
}

.current {
  color: #2196f3 !important;
}

.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -8px;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .current::after {
    bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .item:not(:last-child) {
    padding-bottom: 40px;
  }
  .item:nth-child(1) {
    padding-bottom: 52px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 21px;
    margin-bottom: 21px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .contact-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav {
    margin-left: 305px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav .unit {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contact-nav .unit:not(:last-child) {
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .contact-nav .unit:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-nav .unit:not(:last-child) {
    margin-bottom: 10px;
  }
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:not(:last-child) {
  padding-bottom: 16px;
}

.link:hover, .link:focus {
  color: #2196f3;
  --color3: $accent;
}

@media screen and (max-width: 767px) {
  .link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.nav-image {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-image {
    margin-right: 8px;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-height: 400px;
  margin-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    margin-bottom: 94px;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
  }
}

.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-mob.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-mob.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-mob@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-tablet@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-desk.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-desk.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-desk@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-desk@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.benefits .title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .benefits .title {
    text-align: center;
  }
}

.benefits .text {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-weight: 14px;
  font-size: 1.7;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .benefit-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .benefit-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .benefit-item {
    width: calc((100% - 2 * 30px) / 2);
  }
  .benefit-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .benefit-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefit-item {
    width: calc((100% - 8 * 15px) / 4);
    margin: 0;
  }
  .benefit-item:not(:last-child) {
    margin-right: 30px;
  }
}

.benefit-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 102px;
  height: 120px;
  width: 100%;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media (max-width: 1199px) {
  .work {
    display: none;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 100%;
    max-width: 450px;
  }
}
/*# sourceMappingURL=main.css.map */