.portfolio-list {
  @extend %list;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: start;
  }

  @media screen and (min-width: $mobile) and (max-width: 767px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-bottom: 30px;
  }
}

.unit {
  &:not(:last-child) {
    margin-right: 8px;
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
