$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent: #2196f3;
$white-text-color: #ffffff;
$background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$footer-background-color: #2f303a;
$footer-text-color: rgba(255, 255, 255, 0.6);
$button-background-color: #f5f4fa;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
