.clients-list {
  display: flex;
  @extend %list;

  .client-img:not(:last-child) {
    margin-right: 30px;
  }
}

.link-icon {
  @include centeredFlex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: all 250ms $cubic;

  &:hover,
  &:focus {
    --color4: #2196f3;
    border-color: $accent;
  }
}
